@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.logo a,
.menu a {
  font-weight: 700;
}

.menu {
  display: flex;
  justify-content: end;
}

.flex-nav {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
  margin: 1.8rem;
}

.bg_shape {
  position: absolute;
  z-index: -1;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.social {
  margin: 1rem 0;
  height: 20px;
  display: flex;
  padding: 0;
  margin-top: 1rem;
  align-items: baseline;
}

.social a {
  margin-right: 1rem;
}

.social img {
  width: 1.5rem;
}

.social li {
  list-style: none;
}

.wrap {
  margin: 0.5rem;
  padding: 1rem;
}

.wrap ul {
  list-style: none;
}

.wrap a {
  font-weight: 500;
  line-height: 25px;
  font-size: 1rem;
}

/* flex containers */
.flex-nav li {
  flex: 1;
}

.flex-nav .social {
  flex: 1;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
}

.work-block p {
  font-weight: 400;
  font-size: 15px;
  color: #172b4d;
}

.work-block h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
  margin: 0 auto;
}

.list-items {
  display: flex;
  grid-gap: 12px;
  padding: 0;
  margin: 0 auto;
}

.list-items li {
  padding: 0;
  margin: 5px;
  font-size: 14px;
  color: #7a869a;
}

.count {
  list-style: none;
  font-weight: 600;
  color: #1d2535;
}

.card-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
}

.card-tags li {
  margin-right: 0.5rem;
  padding: 4px 12px;
  border-radius: 8px;
  display: flex;
  color: #6070ff;
  align-items: center;
  letter-spacing: 0.03rem;
  background-color: #ebebff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 17px;
  width: max-content;
  padding: 12px;
  color: #6070ff;
  background-color: transparent;
}

.card-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.langs {
  list-style: none;
  padding: 0;
}

.langs li {
  list-style: none;
}

.langs img {
  margin-right: 1rem;
}

.lang-items-title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding: 1rem 0;
  line-height: 24px;
}

.lang-items {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
}

.lang-items ul {
  padding: 0;
}

.lang-item {
  padding: 15px;
  align-items: center;
  display: flex;
  background-color: #f7f7f9;
  font-size: 15px;
  line-height: 20px;
  margin-top: 0.9rem;
  border-radius: 8px;
}

.wrap-about {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background: white;
  border-radius: 0 6rem;
}

select {
  border: none;
}

.shape-position {
  position: absolute;
  right: 25px;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  right: 10px;
  margin-top: 30px;
  padding: 2.5rem;
}

.input-field {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 8px;
  margin: 5px;
}

.inputs {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-btn {
  background-color: #f6f6fa;
  color: rgb(11, 159, 239);
  margin: 5px;
}

.footer-img {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.underline {
  border-bottom: inset;
}
